#search-container {
    display: flex;
    justify-content: center;
    text-align: center; 
    display: block;
}

body {
   background-image: url(./images2/a3a290f29bebd9a080b9667bb3fc759d.png)
    /* animation-duration: 4s; 
    animation-name: animation;
    animation-iteration-count: infinite; */
}

/*@keyframes animation {
   0% {background-color: yellowgreen;}
   50% {background-color: orange;}
   100% {background-color: yellowgreen;}
} */

img {
    justify-content: center;
}

#searchButton {
    background-color: red;
    color: white; 
}

#searchButton:hover {
    border: 10px;
}

#searchButton:active {
    background-color: white;
    color: red;
}

#result-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-display {
    display: flex; 
    display: block;
    justify-content: center; 
    font-family: 'Pokemon Solid', sans-serif;
    color: red;
    font-size: 60px;
    text-align: center;
}

.results-formatting {
    display: flex;
    display: block;
    text-align: center;
}